# KRX 연간 투자지표 데이터 수집

In [14]:
import numpy as np
import pandas as pd
import nfn_crawring as nf
import gbq_service as gbq

In [15]:
df_krx = gbq.get_krx_list()
df_krx = df_krx.sort_values('market_cap', ascending=False).reset_index(drop=True)
df_krx

,stock_code,corp_name,ipo_date,marker_type,dept,stock_num,market_cap
0,005930,삼성전자,1975-06-11,KOSPI,None,5969782550,444151821720000
1,000660,SK하이닉스,1996-12-26,KOSPI,None,728002365,98280319275000
2,373220,LG에너지솔루션,2022-01-27,KOSPI,None,234000000,88335000000000
3,207940,삼성바이오로직스,2016-11-10,KOSPI,None,71174000,56939200000000
4,005380,현대차,1974-06-28,KOSPI,None,211531506,41375562573600
...,...,...,...,...,...,...,...
2325,030790,비케이탑스,2010-11-02,KOSPI,None,21248145,19208323080
2326,071950,코아스,2005-08-04,KOSPI,None,30907210,15824491520
2327,078860,아이오케이,2006-06-27,KOSDAQ,중견기업부,4806323,15788771055
2328,008500,일정실업,1994-08-12,KOSPI,None,1200000,15480000000
2329,161570,THE MIDONG,2013-11-13,KOSDAQ,중견기업부,21096354,7721265564

In [16]:
collection_list = df_krx[['stock_code', 'corp_name']].values[0:2]
# collection_list = df_krx[['stock_code', 'corp_name']].values

In [17]:
df_gbq = pd.DataFrame()
df_exception = pd.DataFrame(columns=['stock_code', 'corp_name', 'err_msg'])

for index, corp in enumerate(collection_list):
    try:
        print('No. ', index)
        print(corp, '투자지표(연간) 데이터 크롤링 시작 ===>')
        # 연간 수익성 투자지표
        df_pr = nf.crawl_nfn(stock_code=corp[0], type=nf.DataType.IV, subType=nf.IVType.PROFIT, period=nf.Period.YEAR)
        df_pr = gbq.convert_gbq_year(df_pr, corp[0], corp[1], 'PR')
        
        # 연간 성장성 투자지표
        df_gr = nf.crawl_nfn(stock_code=corp[0], type=nf.DataType.IV, subType=nf.IVType.GROWTH, period=nf.Period.YEAR)
        df_gr = gbq.convert_gbq_year(df_gr, corp[0], corp[1], 'GR')
        
        # 연간 안정성 투자지표
        df_st = nf.crawl_nfn(stock_code=corp[0], type=nf.DataType.IV, subType=nf.IVType.STABILITY, period=nf.Period.YEAR)
        df_st = gbq.convert_gbq_year(df_st, corp[0], corp[1], 'ST')
        
        # 연간 활동성 투자지표
        df_ac = nf.crawl_nfn(stock_code=corp[0], type=nf.DataType.IV, subType=nf.IVType.ACTIVITY, period=nf.Period.YEAR)
        df_ac = gbq.convert_gbq_year(df_ac, corp[0], corp[1], 'AC')
        
        # 연간 가치지표 투자지표
        df_va = nf.crawl_nfn(stock_code=corp[0], type=nf.DataType.IV, subType=nf.IVType.VALUEABLE, period=nf.Period.YEAR)
        df_va = gbq.convert_gbq_year(df_va, corp[0], corp[1], 'VA')
        
        # 데이터 합치기
        df_gbq = pd.concat([df_gbq, df_pr, df_gr, df_st, df_ac, df_va])
        
        print(corp, '투자지표(연간) 데이터 크롤링 종료 ===>\n\n')
        
    except Exception as e:
        err_msg = str(type(e)) + ': ' + str(e)
        print(err_msg)
        df_exception.loc[len(df_exception)] = [corp[0], corp[1], err_msg]

No.  0
['005930' '삼성전자'] 투자지표(연간) 데이터 크롤링 시작 ===>
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=005930&frq=0&rpt=1&finGubun=MAIN&frqTyp=0&cn=&encparam=THJhTjV1UzNudXRQTVBMNDRlaldmdz09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=005930&frq=0&rpt=2&finGubun=MAIN&frqTyp=0&cn=&encparam=djdaT2REY0FRR2sxZUw0U0gxbXUydz09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=005930&frq=0&rpt=3&finGubun=MAIN&frqTyp=0&cn=&encparam=RVlBRm4rbXl1aSswcVRRTnlCY0xqQT09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=005930&frq=0&rpt=4&finGubun=MAIN&frqTyp=0&cn=&encparam=NWxGNFlSMlVKcUtoc09TVG5IK0ExQT09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=005930&frq=0&rpt=5&finGubun=MAIN&frqTyp=0&cn=&encparam=MlBCK2hqdHdzNFE0QUV4TnhtUmhMdz09
['005930' '삼성전자'] 투자지표(연간) 데이터 크롤링 종료 ===>


No.  1
['000660' 'SK하이닉스'] 투자지표(연간) 데이터 크롤링 시작 ===>
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=000660&frq=0&rpt=1&finGubun=MAIN&frqTyp=0&cn=&encparam=ZE5XTXBsYzM2bDJ4WEt6N2Rlb3ZCUT09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=000660&frq=0&rpt=2&finGubun=MAIN&frqTyp=0&cn=&encparam=SFVOVms2L0oxQmNkK0M4ZS9vWE1qdz09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=000660&frq=0&rpt=3&finGubun=MAIN&frqTyp=0&cn=&encparam=dVo4MUFWZWE4QzhVaVZPOEo1UE5wQT09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=000660&frq=0&rpt=4&finGubun=MAIN&frqTyp=0&cn=&encparam=ZnVwa0FhTmxHcGptTittZkwrc2J6dz09
https://navercomp.wisereport.co.kr/v2/company/cF4002.aspx?cmp_cd=000660&frq=0&rpt=5&finGubun=MAIN&frqTyp=0&cn=&encparam=cWZWYTUvMi9oKzRjbGxvRGRhcmlydz09
['000660' 'SK하이닉스'] 투자지표(연간) 데이터 크롤링 종료 ===>

In [18]:
df_gbq.to_csv('./csv/iv_year_240202.csv')
df_gbq

,stock_code,corp_name,year,month,type,order,account_name,amount
id,,,,,,,,
005930_2018_12_PR_000,005930,삼성전자,2018,12,PR,0,매출총이익률,4.568900e+01
005930_2018_12_PR_001,005930,삼성전자,2018,12,PR,1,매출총이익＜당기＞,1.113770e+06
005930_2018_12_PR_002,005930,삼성전자,2018,12,PR,2,매출액＜당기＞,2.437714e+06
005930_2018_12_PR_003,005930,삼성전자,2018,12,PR,3,영업이익률,2.415700e+01
005930_2018_12_PR_004,005930,삼성전자,2018,12,PR,4,영업이익＜당기＞,5.888667e+05
...,...,...,...,...,...,...,...,...
000660_2022_12_VA_031,000660,SK하이닉스,2022,12,VA,31,DPS,1.200000e+03
000660_2022_12_VA_032,000660,SK하이닉스,2022,12,VA,32,현금DPS,1.200000e+03
000660_2022_12_VA_033,000660,SK하이닉스,2022,12,VA,33,주식DPS,0.000000e+00
000660_2022_12_VA_034,000660,SK하이닉스,2022,12,VA,34,현금배당수익률,1.600000e+00
000660_2022_12_VA_035,000660,SK하이닉스,2022,12,VA,35,현금배당성향(%),3.701090e+01

In [19]:
gbq.load_to_iv_year(df_gbq)

LoadJob<project=hello-phase3, location=asia-northeast3, id=18351716-bbb3-4f9b-99b2-e698e18d1340>
Uploaded:  1380